* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #425995;
    padding-top: 50px;
}

.details {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto 10px;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
}

.details::after {
    /* z-index: 12; */
    position: absolute;
    right: 24px;
    top: 15px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #425995;
    border-bottom: 3px solid #425995;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: 0.3s;
}

/* .details[open] .details__content {
    margin-top: 0;
} */

.details[open]::after{
    transform: rotate(45deg);
}

.details[open] {
    padding-bottom: 100px;
}

.details[open] .details__title {
    margin-bottom: 32px;
}

.details__title {
    background: #fff;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
    transition: 0.3s;
}

.details__title::-webkit-details-marker {
    display: none;
}

.details__content {
    padding: 0 32px;
    font-size: 18px;
    margin-top: -10px;
}

.details__content p:last-child {
    margin-bottom: 0;
}

.details__content p:first-child {
    margin-top: 0;
}