/* rubik-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/rubik-v28-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: rgb(248 249 254);
    /* padding: 1%; */
    font-size: 1.2rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0.8rem 0;

}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 0 auto;
    /* gap: 1rem; */
}

.left-menu {
    color: #fff;
    background-color: rgb(70 92 196);
    width: 15%;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 1.7rem;
    margin: 3rem 0 1.7rem;
}

.menu {
    list-style: none;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2.5rem;
}

.menu-bottom {
    margin-top: 20%;
    padding: 1rem 1.7rem 1.2rem 1.7rem;
    font-size: 1rem;
    font-weight: 600;
}

.menu-item {
    margin-bottom: 1.8rem;
}

.menu-item i {
    margin-right: 10px;
}

.menu-bottom:hover {
    color: #fff;
    background: #516cd5;
    margin-left: 1.8rem;
}

.main-content {
    width: 85%;
}

.header {
    height: 4em;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 31.3rem;
    margin: 0 0 0 3.1rem;

}

input:focus, select:focus{
    border: 1px solid #455cc6;
}

input,
select, textarea {
    padding: 10px;
    border: 1px solid #bdc2e0;
    border-radius: 8px;
    font-size: 13px;
    width: 100%;
}

.search-img {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    padding: 10px 0 10px 35px;
    background-size: 30px 30px;
    background-position: 467px 4px;
}

.search input:focus ~ .search-img{
    background-image: none;
    padding: 100px;
}



#search {
    padding-left: 0.8rem;

}

input::placeholder {
    font-weight: 400;
    /* font-family: "Rubik"; */
    letter-spacing: 0.5px;
}

.button_and_avatar {
    display: flex;
    justify-content: space-around;
    padding: 0px 2rem;
}

.fa-header,
.img-avatar {
    border: 1px solid #a7a7a7;
    padding: 9px;
    border-radius: 100%;
    margin: 0.7rem 0.2rem 0 2rem;
    font-size: 1rem;
}

.fa-header {
    color: black;
}

.img-avatar {
    padding: 1rem;
    height: 100%;
    background-image: url(../img/better.JPG);
    background-repeat: no-repeat;
    background-size: 320%;
    background-position: -40px -5px;
}

.name-user {
    font-size: 16px;
    margin: 1.2rem;
    font-weight: 500;
}

.form {
    display: flex;
}

.left {
    /* background-color: #bdc2e0; */
    width: 24%;
}

.layout {
    /* border: 1px solid #516cd5; */
    border-radius: 10px;
    background-color: #fff;
    padding: 0.3rem 0 0.4rem 1.1rem;
    margin: 1.6rem 2.3rem 0 3rem;
    /* height: 30%; */
    box-shadow: #333;
    -webkit-box-shadow: 0px 0px 52px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 52px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 52px 3px rgba(34, 60, 80, 0.2);
}

.main{
    border: 1px solid #516cd5;
}

.layout-img {
    justify-content: flex-start;
    align-items: center;
    padding: 0.8rem 1.8rem 0.8rem 1rem;
    margin: 2.2rem 2.8rem 0 2.7rem;
    display: flex;
    border: none;
}

.form-text {
    margin: 0 2rem 0 1.3rem;
}

.layout h3 {
    margin-top: 1rem;
    font-size: 20px;
    color: #333;
}

.layout p {
    font-size: 14px;
    color: #a7a7a7;
}

.right {
    width: 76%;
    /* background-color: #516cd5; */
}

.img-form {
    padding: 2.8rem;
    background-image: url(../img/men.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
    border-radius: 100%;
}

.layout-form {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.layout-form h3 {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.form__block-item {
    width: 26%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    font-size: 16px;
}

.layout-form .form__block-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* .layout-form .form__block-item input{
    width: %;
} */

.btn {
    margin-left: 1.4rem;
    width: 15.5%;
    /* padding: 1rem; */
    height: 5%;
    background: #516cd5;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.full {
    width: 100% !important;
}

.row {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
}

/* .row input[type="radio"]{
    width: 3%;
} */

.check-box {
    width: 1px;
    height: 1px;
    padding-left: 22px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.c-style{
    width: 16px;
    height: 16px;
    border: 1px solid #455cc6;
    position: absolute;
    margin-left: -25px;
    border-radius: 4px;
}

.check-box:checked+.c-style::before {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #455cc6;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row label{
    margin: 0 1rem 0 1.8rem;
    font-size: 16px;
}

.my-reward{
    width: 100% !important;
}
.my-reward textarea{
    padding-bottom: 4rem;
}
.update-info{
    width: 24%;
    height: 5%;
    background: #516cd5;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover, .update-info:hover{
    background-color: #455cc6;
}

.btn:focus, .update-info:focus{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
border: none;
}

/* img {
    width: 100%;
}

.left {
    width: 20%;
    padding: 5px;
}

.center {
    width: 45%;
}

.right {
    width: 28%;
    align-self: start;
}

.center,
.right {
    background: #fff;
    border-radius: 2rem;
    padding: 10px 20px;
} */