.gallery {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery__item{
    display: gridc;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "photo photo"
    "title text";
}

.gallery__item-photo{
    grid-area: photo;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 15px ;
}

.gallery__item-title{
    grid-area: title;
    margin: 0;
    font-size: 1em;
}

.gallery__item-text{
    grid-area: text;
    margin: 0;
    justify-self: end;
}