:root {
    --green: #809086;
    --grey: #817f8c;
    --beige: #ddd3c7;
    --blue: #45616f;

}

body {
    text-align: center;
}

table {
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse; /*убираем расстояние между ячейками (схлопываем ячейки*/
}



h2 {
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    color: var(--beige);
    padding: 5px;
}

td, th{
    padding: 10px;
    text-align: center;
    color: var(--blue);
}

thead, tbody{
    border-bottom: 1px solid var(--blue);
}

thead:nth-child(n+2){
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    color: var(--beige);
    /* padding: 5px; */
    background-color: var(--green);
}

thead:nth-child(1) th{
    /* padding: 5px; */
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: var(--blue);
}

/* h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: var(--blue);
} */

tbody tr:nth-child(2n){
    background-color: var(--beige);
}

.line li{
    display: inline-block;
    background-color: #e7eaef;
    width: 2em;
    height: 2em;
    text-align: center;
    font-weight: 700;
    padding: 2px;
    margin: 0.3em;
}


.block1 li{
    background-color: var(--beige);
    margin: 1em;
}
.block1 li:nth-child(5){
    background-color: var(--blue);
    color: white;
}

.block2 li{
    background-color: var(--beige);
    margin: 1em;
}
.block2 li:nth-child(2n+4){
    background-color: var(--blue);
    color: white;
}

.cruc li{
    border-radius: 50%;
    border: 1px solid var(--blue);
    background-color: var(--beige);
}

.cruc li:nth-child(2n+3):nth-child(-n+13){
    background-color: var(--green);
    color: var(--blue);
}

.cruc li:nth-child(2n+4):nth-child(-n+13){
    background-color: var(--grey);
    color: white;
}